.container-section-aboutme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-weight: var(--font-bold);
    font-size: var(--font-28);

    .wrapper-columns {
        display: flex;
        justify-content: space-between;
        width: 47rem;

        @media (max-width:992px) {
            width: 39.5rem;
        }

        @media (max-width:768px) {
            flex-direction: column-reverse;
            gap: 2.5rem;
            width: 23.5rem;
        }

        @media (max-width:442px) {
            width: 18.5rem;
        }

        @media (max-width:360px) {
            width: 15.5rem;
        }

        .header-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2.5rem;

            @media (max-width:768px) {
                text-align: center;
                align-items: center;
            }

            .roll {
                color: var(--text-color);
                display: flex;
                gap: 0.5rem;

                @media (max-width:768px) {
                    flex-direction: column;
                    gap: revert;
                }
            }

            .cv {
                text-decoration: underline;
                font-size: var(--font-14);

                &:hover {
                    color: var(--link-color);
                }
            }

            .container-networks {
                display: flex;
                padding-top: 0.5rem;
                gap: 0.5rem;

                @media (max-width:768px) {
                    padding-top: 1.5rem;
                    justify-items: center;
                }

                @media (max-width:442px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1.5rem;
                }
            }
        }

        .container-outer-image {
            --profile-image: 18rem;
            position: relative;
            min-height: var(--profile-image);
            max-height: var(--profile-image);
            min-width: var(--profile-image);
            max-width: var(--profile-image);
            overflow: hidden;
            border: 1px solid var(--border-color);
            border-radius: 999px;

            @media (max-width:992px) {
                --profile-image: 16rem;
            }

            @media (max-width:768px) {
                --profile-image: 23.5rem;
            }

            @media (max-width:442px) {
                --profile-image: 18.5rem;
            }

            @media (max-width:360px) {
                --profile-image: 15.5rem;
            }


            * {
                pointer-events: none;
            }

            .container-inner-image {
                object-fit: cover;
            }
        }
    }
}