@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  outline: none;
}

body {
  color: #ffffff;
  background-color: #232323;
  padding: 0px;
  margin: 0px;
  min-width: 360px;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  max-width: 42rem;
  margin: 3.5rem auto 12rem auto;
}

@media (max-width:723px) {
  main {
    margin: 3.5rem 1.5rem 12rem 1.5rem;
  }
}

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  text-wrap: nowrap;
}

ul {
  display: flex;
  flex-direction: column;
  gap: .375rem;
  padding-left: 1.625rem;
  list-style: disc;
}

li {
  padding-left: .375rem,
}

li::marker {
  color: #707070;
}